// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// mie variabili
$header_height: 90px;
$total_footer_height: 320px;
$first_footer_part_height: 250px;
$last_footer_part_height: 70px;
$blue_color: #1b3c59;
$orange_button: #f47637;
$orange_button_hover: #f5874f;
$green_color: #61ce4e;
$section_height: 400px;
